
<!doctype html>

<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulaire</title>
    <meta name="language" content="fr-FR"/>
    <link rel="stylesheet" href="https://www.waage.fr/css/app.css"/>



    <style>
        .freeprivacypolicy-com---palette-light.freeprivacypolicy-com---nb {
            position: fixed !important;
            top: 0 !important;
            left: 0 !important;
            background-color: rgba(0, 0, 0, 0.5) !important;
            height: 100vh;
        }

        .cc-nb-main-container {
            position: fixed !important;
            bottom: 0 !important;
            background: #ddd !important;
            width: 100% !important;
            font-size: 18px !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
        }

        .cc-nb-main-container button {
            font-size: 20px !important;
        }
    </style>
</head>

<body>

<header>

    <div class="container-fluid  content-menu no-border-bottom is-sticky">

            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler mr-sm-2 mr-0 collapsed" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="d-flex mt-sm-0 mt-3 mb-sm-0 mb-2 flex-column flex-sm-row w-100 align-items-center justify-content-between">

                    <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">

                        <div class="navbar-nav pb-sm-0 pb-3 font-size-normal">
                            <a class="nav-item nav-link ">Testez votre salaire</a>
                            <a class="nav-item nav-link ">Statistiques</a>

                        </div>

                    </div>

                    <div class="d-flex align-items-center justify-content-between">

                    </div>

                </div>

            </nav>

     </div>

</header>
    <div class="container-fluid container-bg-global">

        <div class="container pb-5">
            
            <h1 class="text-purple text-uppercase font-weight-light text-center mb-2 font-size-xxxlarge "><span class="font-weight-bold">Testez votre salaire</span> en ligne </h1>

<p class="text-center font-size-medium text-dark mt-sm-1 mt-3 mb-sm-1 mb-0 pb-2"> Complétez les étapes ci-dessous pour connaître gratuitement votre positionnement salarial par rapport au marché. </p>

<div class="modal fade" id="modalCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">

                    </div>



                </div>

                </form>

            </div>
        </div>
    </div>

</div>


            <div class="row">

                <div class="col-lg-12">


                    <div class="card article mt-3 card-shadow card-padding">

                        <h3 class="text-light-grey title-card-user-inverse text-uppercase mb-4 text-left font-size-xmedium">
                            <i data-fa-transform="grow-8" class="fas mr-2 font-size-medium ml-1 fa-user"></i> VOUS, VOTRE SALAIRE</h3>



    <input name="is_iframe" type="hidden" value="">
    <input name="origin" type="hidden" value="Api">

<div class="row">


    <div class="col-lg-12">
        <div class="form-group row  ">


            <div class="col-lg-7">
                <div class="row">

                                    </div>
                            </div>

        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group row  ">

    </div>


    <div class="col-lg-12">
        <div class="form-group row  ">
            <label class="col-lg-5">Années de travail <span class="text-red">*</span>

</a>

            </label>
            <div class="col-lg-3 col-sm-10 col-6"><input class="form-control numbers-only double-validation" data-dv-max="55"
                  data-dv-label="votre nombre d&#039;années d&#039;ancienneté totale" name="seniority_total" type="text">
                            </div>
            <p class="mt-2 pt-0 mb-0">Années</p>

        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group row  ">
            <label class="col-lg-5">Titre de la poste <span class="text-red">*</span></label>
            <div class="col-lg-3 col-sm-10 col-6"><input class="form-control numbers-only double-validation" data-dv-max="55"
                                                         type="text">
                            </div>

        </div>
    </div>


    <div class="col-lg-12">
        <div class="form-group row  ">
            <label class="col-lg-5">Catégorie d'emploi
               <span class="text-red">*</span> </label>
            <div class="col-lg-7">
                <select class="form-control select2-medium" name="contract_id">
                <option selected="selected" value="">Séléctionnez un choix dans la liste</option>
                <option value="2">Data Engineering</option>
                <option value="3">Data Architecture and Modeling</option>
                <option value="4">Data Science and Research</option>
                    <option value="5">Machine Learning and AI</option>
                    <option value="6">Data Analysis</option>
                    <option value="7">Leadership and Management</option>
                    <option value="8">BI and Visualization</option>
                    <option value="9">Data Quality and Operations</option>
                    <option value="10">Data Management and Strategy</option>
                    <option value="11">Cloud and Database</option>
            </select>
           </div>

        </div>
    </div>






        <div class="col-lg-12">
        <div class="form-group row  ">
            <label class="col-lg-5">Monnaie de salaire
               <span class="text-red">*</span> </label>
            <div class="col-lg-7">
                <select class="form-control select2-medium" name="contract_id">
                <option selected="selected" value="">Séléctionnez un choix dans la liste</option>
                <option value="2">EUR</option>
                <option value="3">USD</option>
                <option value="4">GBP</option>
                    <option value="5">CAD</option>
                    <option value="6">AUD</option>
                    <option value="7">PLN</option>
                    <option value="8">BRL</option>
                    <option value="9">TRY</option>
                    <option value="10">CHF</option>
                    <option value="11">SGD</option>
                    <option value="12">DKK</option>
            </select>
           </div>

        </div>
    </div>



<div class="col-lg-12">
        <div class="form-group row  ">
            <label class="col-lg-5">Résidence <span class="text-red">*</span></label>
            <div class="col-lg-3 col-sm-10 col-6"><input class="form-control numbers-only double-validation" data-dv-max="55"
                                                         type="text">
                            </div>

        </div>
    </div>










        <div class="col-lg-12">
        <div class="form-group row  ">
            <label class="col-lg-5">Niveau d'expérience
               <span class="text-red">*</span> </label>
            <div class="col-lg-7">
                <select class="form-control select2-medium" name="contract_id">
               <option selected="selected" value="">Séléctionnez un choix dans la liste</option>
                <option value="2">Mid-level</option>
                <option value="3">Senior</option>
                <option value="4">Executive</option>
                    <option value="5">Entry-level</option>

            </select>
           </div>

        </div>
    </div>























 <div class="col-lg-12">
        <div class="form-group row  ">
            <label class="col-lg-5">Type d'emploi
               <span class="text-red">*</span> </label>
            <div class="col-lg-7">
                <select class="form-control select2-medium" name="contract_id">
                <option selected="selected" value="">Séléctionnez un choix dans la liste</option>
                <option value="2">Full-time</option>
                <option value="3">Contract</option>
                <option value="4">Part-time</option>
                <option value="5">Freelance</option>

            </select>
           </div>

        </div>
    </div>

<div class="col-lg-12">
        <div class="form-group row  ">
            <label class="col-lg-5">Environnement de travail
               <span class="text-red">*</span> </label>
            <div class="col-lg-7">
                <select class="form-control select2-medium" name="contract_id">
                <option selected="selected" value="">Séléctionnez un choix dans la liste</option>
                <option value="2">In-person</option>
                <option value="3">Remote</option>
                <option value="4">Hybride</option>

            </select>
           </div>

        </div>
    </div>





        <div class="col-lg-12">
        <div class="form-group row  ">
            <label class="col-lg-5">Emplacement de l'entreprise'<span class="text-red">*</span></label>
            <div class="col-lg-3 col-sm-10 col-6"><input class="form-control numbers-only double-validation" data-dv-max="55"
                                                         type="text">
                            </div>

        </div>
    </div>






<div class="col-lg-12">
        <div class="form-group row  ">
            <label class="col-lg-5">Taille de l'entreprise
               <span class="text-red">*</span> </label>
            <div class="col-lg-7">
                <select class="form-control select2-medium" name="contract_id">
                <option selected="selected" value="">Séléctionnez un choix dans la liste</option>
                <option value="2">S</option>
                <option value="3">M</option>
                <option value="4">L</option>

            </select>
           </div>

        </div>
    </div>









    <hr/>

      <div class="col-lg-12">
            <button class="btn btn-xlarge w-100 mt-3 btn-red">Simuler <i data-fa-transform="grow-8" class="fas ml-2 fa-angle-right"></i></button>
        </div>
    
</div>

    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


<footer class="py-sm-5">

    <div class="container container-large pt-5 pb-3">

        <div class="row">

            <div class="col-lg-3 col-sm-6">



            </div>

            <div class="col-lg-3 px-sm-4 col-md-6 pt-1">


            </div>

            <div class="col-lg-4 px-sm-4 app-mobile-col col-md-6 pt-1">



            </div>

            <div class="col-lg-2 pl-sm-4 col-md-6 pt-1">


            </div>

        </div>

    </div>

    <div class="container container-large mt-sm-4 pb-3">

        <div class="row pt-xl-2 pt-sm-2 pb-sm-2">


            <div class="col-lg-10 px-sm-0 mt-sm-0 mt-3 col-sm-6 col-12">
                <span class="text-dark font-size-lsmall">
                    <a class="text-dark">Confidentialité et gestion des données</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a class="text-dark">Politique de cookies</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a class="text-dark">Mentions légales</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <a class="text-dark" target="_blank">TEK'UPERS</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

                </span>
            </div>

            <div class="col-lg-2 col-sm-3 py-sm-0 py-3 col-12">
                <a target="_blank" class="mr-2 font-size-normal"> <i class="fab fa-twitter"></i> </a>
                <a target="_blank" class="mr-2 font-size-normal"> <i class="fab fa-facebook"></i> </a>
                <a target="_blank"
                   class="mr-2 font-size-normal"> <i class="fab fa-linkedin"></i> </a>
                <span class="text-dark font-weight-bold font-size-normal"> <a href="javascript:" class="text-light-grey btn-to-top font-size-small mt-1 float-right">Retour en haut <i class="fa fa-arrow-up"></i></a> </span>
            </div>

        </div>

    </div>

</footer>


<script defer src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://www.waage.fr/js/app.js?v=89072"></script>


</body>

</html>
